
<div class="container">
    <h1>Diagnostic Loi Carrez ou Bouttin : Ce qu'il faut savoir</h1>
    <div class="table">

        <div class="column-1">
          
            <p>
                Les diagnostics Loi Carrez et Loi Boutin sont des obligations légales destinées à informer précisément l’acquéreur ou le locataire sur la surface du bien immobilier.
              </p>
              <ul>
                <li><strong>Loi Carrez :</strong> obligatoire lors de la vente d’un lot en copropriété, elle certifie la superficie privative du bien.</li>
                <li><strong>Loi Boutin :</strong> requise pour la location, elle concerne la surface habitable du logement loué.</li>
              </ul>
              <h2>Déroulement du diagnostic :</h2>
              <p>Un diagnostiqueur certifié mesure :</p>
              <ul>
                <li>La superficie en tenant compte des critères légaux spécifiques.</li>
                <li>Les surfaces non prises en compte (balcons, caves, escaliers, etc.).</li>
              </ul>
              <h2>Rapport détaillé :</h2>
              <p>Le rapport mentionne :</p>
              <ul>
                <li>La surface exacte du bien selon la réglementation applicable.</li>
                <li>Les éventuelles exclusions ou précisions nécessaires.</li>
              </ul>
              <h2>Quand est-il nécessaire ?</h2>
              <p>Ces diagnostics sont indispensables dans les cas suivants :</p>
              <ul>
                <li><strong>Loi Carrez :</strong> lors de toute vente d’un lot en copropriété.</li>
                <li><strong>Loi Boutin :</strong> avant la signature d’un contrat de location d’un logement vide.</li>
              </ul>
              <p>
                Ces diagnostics contribuent à sécuriser les transactions et à garantir la transparence entre les parties, en conformité avec les exigences légales.
              </p>
        </div>
        <div class="column-2">
            <app-button-icon img="M².svg"></app-button-icon>
        </div>
    </div>
</div>