<div class="background">
    <div class="column-1">
        <p>Diagnostiqueur Immobilier</p>
    </div>
    <div class="column-2">
        <app-button-icon img="Devis.svg" text="Devis"
            routerLink="/devis"></app-button-icon>
        <app-button-icon img="Accueil.svg" text="Accueil"
            routerLink></app-button-icon>
        <div class="dropdown">
            <app-button-icon img="Diagnostic.svg"
                text="Diagnostic"></app-button-icon>
            <div class="dropdown-content">
                <button class="dropdown-button"
                    routerLink="/diagnosticVente">Diagnostic Vente</button>
                <button class="dropdown-button"
                    routerLink="/diagnosticLocation">Diagnostic
                    Location</button>
            </div>
        </div>
    </div>
    <div class="column-3">
        <app-button-icon img="Contact.svg" text="Contact"
            routerLink="/contact"></app-button-icon>
    </div>
</div>

<div class="nav-container">
    <div class="logo">
        <img src="tECHNIDIAG83 WHITE 1.svg" alt="Logo">
    </div>

    <!-- Bouton hamburger pour les écrans mobiles -->
    <div class="menu-toggle" (click)="toggleMenu()">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </div>

    <!-- Menu de navigation -->
    <nav class="nav-menu" [ngClass]="{'open': isMenuOpen}">
        <button class="close-btn" (click)="closeMenu()">X</button>
        <!-- Bouton de fermeture -->
        <ul>
            <li><app-button-icon img="Accueil.svg" text="Accueil"
                    routerLink="/" (click)="closeMenu()"></app-button-icon></li>
            <li><app-button-icon img="Contact.svg" text="Contact"
                    routerLink="/contact" (click)="closeMenu()"></app-button-icon></li>
            <li>
                <div class="dropdown">
                    <app-button-icon img="Diagnostic.svg" text="Diagnostic" (click)="toggleDropdown()"></app-button-icon>
                    <div class="dropdown-content" [ngClass]="{'show': dropdownOpen}">
                        <button class="dropdown-button" routerLink="/diagnosticVente" (click)="closeMenu()">Diagnostic Vente</button>
                        <button class="dropdown-button" routerLink="/diagnosticLocation" (click)="closeMenu()">Diagnostic Location</button>
                    </div>
                </div>
                
            </li>
            <li><app-button-icon img="Devis.svg"
                    text="Devis" routerLink="/devis" (click)="closeMenu()"></app-button-icon></li>
        </ul>
    </nav>
</div>
