<h1>Diagnostics obligatoires pour une location : tout ce qu’il faut savoir</h1>

<div class="container">
  <div class="table">

    <div class="column-1">
      <h2>
        Pour louer un logement en résidence principale, celui-ci doit répondre à
        des critères précis :
      </h2>
      <ul>
        <li>
          <strong>Surface minimale :</strong> le logement doit disposer d'une
          surface habitable supérieure à 9 m² avec une hauteur sous plafond d'au
          moins 2,20 m.
        </li>
        <li>
          <strong>Conformité sanitaire :</strong> le bien doit respecter les
          normes de décence et de salubrité.
        </li>
      </ul>
      <p>
        Avant la signature du bail, le propriétaire doit remettre au locataire
        plusieurs diagnostics immobiliers, regroupés dans le Dossier de
        Diagnostic Technique (DDT) :
      </p>
      <ul>
        <li>
          <strong>Diagnostic de Performance Énergétique (DPE) :</strong>
          Obligatoire pour toutes les locations, il permet d'évaluer la
          consommation d'énergie du logement et son impact en termes d'émissions
          de gaz à effet de serre. Le DPE doit être réalisé par un
          diagnostiqueur certifié et est valable 10 ans.
        </li>
        <li>
          <strong>Mesurage Loi Boutin :</strong> Nécessaire pour les locations
          vides, ce diagnostic permet de mesurer la surface habitable du
          logement. Il est obligatoire pour informer le locataire de la
          superficie exacte du bien loué.
        </li>
        <li>
          <strong>État des Risques Naturels, Miniers et Technologiques (ERNMT)
            :</strong> Requis si le logement est situé dans une zone à risques,
          ce diagnostic informe le locataire des risques naturels (inondations,
          mouvements de terrain), miniers et technologiques (industries,
          installations classées) auxquels le bien est exposé.
        </li>
        <li>
          <strong>Diagnostic plomb (CREP) :</strong> Obligatoire pour les biens
          construits avant 1949, ce diagnostic permet de détecter la présence de
          plomb dans les peintures. Le plomb est un matériau toxique pouvant
          entraîner des problèmes de santé graves, notamment chez les enfants.
        </li>
        <li>
          <strong>Diagnostic amiante :</strong> Nécessaire pour les parties
          privatives des appartements construits avant juillet 1997, ce
          diagnostic permet de détecter la présence d'amiante, un matériau
          dangereux pour la santé. L'amiante est responsable de maladies graves
          comme l'asbestose et le cancer du poumon.
        </li>
      </ul>
    </div>
    <div class="column-2">
      <div class="icons-grid">

        <div class="icon">
          <div class="rounded">
            <app-button-icon img="M².svg"
              routerLink="/loiCarrezOuBouttin"></app-button-icon>
          </div>
          <p>Loi Boutin</p>
        </div>

        <div class="icon">
          <div class="rounded">
            <app-button-icon img="Amiante.svg"
              routerLink="/amiante"></app-button-icon>
          </div>
          <p>Amiante</p>
        </div>

        <div class="icon">
          <div class="rounded">
            <app-button-icon img="Energy class.svg"
              routerLink="/dpe"></app-button-icon>
          </div>
          <p>DPE</p>
        </div>

        <div class="icon">
          <div class="rounded">
            <app-button-icon img="electricity.svg"
              routerLink="/electricite"></app-button-icon>
          </div>
          <p>Electricté</p>
        </div>

        <div class="icon">
          <div class="rounded">
            <app-button-icon img="Pb.svg" routerLink="/plomb"></app-button-icon>
          </div>
          <p>Plomb</p>
        </div>

        <div class="icon">
          <div class="rounded">
            <app-button-icon img="Gaz.svg" routerLink="/gaz"></app-button-icon>
          </div>
          <p>Gaz</p>
        </div>

        <div class="icon">
          <div class="rounded">
            <app-button-icon img="ERP.svg"
              routerLink="/erp"></app-button-icon>
          </div>
          <p>ERP</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-mobile">
  <div class="column-1">
    <p>
      Pour louer un logement en résidence principale, celui-ci doit répondre à
      des critères précis :
    </p>
    <ul>
      <li>
        <strong>Surface minimale :</strong> le logement doit disposer d'une
        surface habitable supérieure à 9 m² avec une hauteur sous plafond d'au
        moins 2,20 m.
      </li>
      <li>
        <strong>Conformité sanitaire :</strong> le bien doit respecter les
        normes de décence et de salubrité.
      </li>
    </ul>
    <p>
      Avant la signature du bail, le propriétaire doit remettre au locataire
      plusieurs diagnostics immobiliers, regroupés dans le Dossier de Diagnostic
      Technique (DDT) :
    </p>
    <ul>
      <li>
        <strong>Diagnostic de Performance Énergétique (DPE) :</strong>
        Obligatoire pour toutes les locations, il permet d'évaluer la
        consommation d'énergie du logement et son impact en termes d'émissions
        de gaz à effet de serre. Le DPE doit être réalisé par un diagnostiqueur
        certifié et est valable 10 ans.
      </li>
      <li>
        <strong>Constat de Risque d'Exposition au Plomb (CREP) :</strong>
        Obligatoire pour les logements construits avant 1949, il vise à
        identifier la présence de plomb dans les peintures afin de prévenir les
        risques d'intoxication.
      </li>
      <li>
        <strong>Diagnostic Amiante :</strong> Obligatoire pour les logements
        dont le permis de construire a été délivré avant le 1er juillet 1997, il
        permet de détecter la présence d'amiante dans les matériaux de
        construction.
      </li>
      <li>
        <strong>État des Risques et Pollutions (ERP) :</strong> Il informe le
        locataire des risques naturels, miniers, technologiques, et d'exposition
        au bruit auxquels le bien est exposé.
      </li>
      <li>
        <strong>Diagnostic Gaz :</strong> Obligatoire pour les installations de
        gaz de plus de 15 ans, il vise à vérifier la conformité et la sécurité
        de l’installation.
      </li>
      <li>
        <strong>Diagnostic Électricité :</strong> Obligatoire pour les
        installations électriques de plus de 15 ans, il permet de vérifier la
        sécurité de l’installation électrique.
      </li>
    </ul>
    <h2>Quand est-il nécessaire ?</h2>
    <p>Ces diagnostics sont indispensables dans les cas suivants :</p>
    <ul>
      <li>Lors de la mise en location d’un bien immobilier.</li>
      <li>Lors du renouvellement du bail si les diagnostics précédents ne sont
        plus valides.</li>
    </ul>
    <p>
      Les diagnostics immobiliers contribuent à assurer la sécurité et le
      confort des locataires, tout en respectant les réglementations en vigueur.
    </p>
  </div>
  <div class="column-2">
    <div class="icons-grid">

      <div class="icon">
        <div class="rounded">
          <app-button-icon img="M².svg"
            routerLink="/loiCarrezOuBouttin"></app-button-icon>
        </div>
        <p>Loi Boutin</p>
      </div>

      <div class="icon">
        <div class="rounded">
          <app-button-icon img="Amiante.svg"
            routerLink="/amiante"></app-button-icon>
        </div>
        <p>Amiante</p>
      </div>

      <div class="icon">
        <div class="rounded">
          <app-button-icon img="Energy class.svg"
            routerLink="/dpe"></app-button-icon>
        </div>
        <p>DPE</p>
      </div>

      <div class="icon">
        <div class="rounded">
          <app-button-icon img="electricity.svg"
            routerLink="/electricite"></app-button-icon>
        </div>
        <p>Electricté</p>
      </div>

      <div class="icon">
        <div class="rounded">
          <app-button-icon img="Pb.svg" routerLink="/plomb"></app-button-icon>
        </div>
        <p>Plomb</p>
      </div>

      <div class="icon">
        <div class="rounded">
          <app-button-icon img="Gaz.svg" routerLink="/gaz"></app-button-icon>
        </div>
        <p>Gaz</p>
      </div>

      <div class="icon">
        <div class="rounded">
          <app-button-icon img="ERP.svg"
            routerLink="/erp"></app-button-icon>
        </div>
        <p>ERP</p>
      </div>
    </div>
  </div>
</div>