<div class="background">
    <div class="column-1">
        <p>2013 - TechniDiag83 - Diagnostic immobilier dans le Var </p>
        <p> RCS - Toulon B 791 077 944 - Tel : 06.38.01.25.11</p>
    </div>
    <div class="column-2">
        <app-button-icon img="Accueil.svg" text="Accueil" routerLink="/"></app-button-icon>

        <div class="logo">
            
            <img src="/tECHNIDIAG83 WHITE 1.svg">

        </div>

        <app-button-icon img="Contact.svg" text="Contact" routerLink="/contact"></app-button-icon>
    </div>
    <div class="column-3">
        <app-button-icon></app-button-icon>
    </div>
</div>
