.devis-container {
  font-family: Arial, sans-serif;
  color: white;
  padding: 2rem;
  text-align: center;
  justify-items: center;
}

.content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 2%;
}

.left-column {
  width: 20%;
  height: 20%;
  background-color: rgba(0, 47, 109, 1);
  padding: 1rem;
  border-radius: 10px;
}

.left-column h2 {
  font-size: 1.5rem;
  margin: 0.5rem 0;
  color: #ffde59;
  text-decoration: underline;
}

.left-column span {
  color: #ffde59;
}

.right-column {
  width: 20%;
  height: 20%;
  background-color: rgba(0, 47, 109, 1);
  padding: 1rem;
  border-radius: 10px;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.right-column h3 {
  color: #ffde59;
  text-decoration: underline;
}

.right-column:hover {
  box-shadow: 0 0 20px rgba(255, 222, 89, 0.8);
  /* Optionnel : ajout d'un effet lumineux */
  transform: scale(1.05);
}

.warning {
  display: none;
}

.right-column:hover .warning {
  display: block;
}

.middle-column {
  display: flex;
  width: 40%;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  line-height: 2;
  background-color: rgba(0, 47, 109, 1);
  border: 2px solid #FFDE59;
  box-shadow: 0 0 10px rgba(255, 222, 89, 0.8);
  padding: 2%;
  border-radius: 1em;
}

.middle-column h1 {
  color: white;
  text-transform: uppercase;
}

.middle-column p {
  color: white;
}

.form-group{
  display: flex;
  flex-direction: column;
  text-align: start;
  padding: 0.5%;
}

.form-group label {
  color: #ffde59;
}

.form-group select {
  padding: 0.2em;
  border-radius: 0.5em;
  width: 20%;
  text-align: center;
  margin: 0.2%;
  border: 1px solid #ccc;
  background-color: #fff;
  color: #002f6d;
}

.form-group input {
  margin: 0.2%;
  box-shadow: 0 0 5px rgba(0, 47, 109, 0.5);
  padding: 0.2em;
  border-radius: 0.5em;
  width: 70%;
  text-align: start;
  color: #002f6d;
  border-color: #002f6d;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 47, 109, 0.5);
}

.checkbox-group label{
color: white;
}

.checkbox-group {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  text-align: center;
  padding: 2%;
}

.checkbox-row{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: start;
  width: 80%;
}

.checkbox-row label{
  color: white;
  width:  50%;
  padding: 2%;
}

.checkbox-row input[type="checkbox"] {
  width: 15px;
  height: 15px;
  cursor: pointer;
  position: relative;
}

.checkbox-row input[type="checkbox"] {
  accent-color: #ffde59; 
}

form button {
  background-color: white;
  color: #002f6d;
  padding: 0.5em;
  border-radius: 0.2em;
  border: none;
  cursor: pointer;
  width: 30%;
  text-transform: uppercase;
}

form button:hover {
  background-color: #ffde59;
  color: #002f6d;
  box-shadow: #ffffff 0 0 6px;
}

input:focus,
select:focus,
textarea:focus {
  border-color: #002f6d;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 47, 109, 0.5);
}

.confirmation-message {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  color: #333;
}