

<h1>Diagnostic Amiante : Ce qu’il faut savoir</h1>

<div class="container">
    <div class="table">

        <div class="column-1">
            
            <p>
                Le diagnostic amiante est une procédure obligatoire visant à détecter la présence d’amiante dans les bâtiments construits avant le 1er juillet 1997. Réalisé par un diagnostiqueur certifié, ce contrôle s’inscrit dans une démarche de prévention des risques pour la santé, car l’amiante est un matériau dangereux, responsable de maladies graves comme :
              </p>
              <ul>
                <li>L’asbestose</li>
                <li>Le cancer du poumon</li>
              </ul>
              <h2>Déroulement du diagnostic</h2>
              <p>Lors du diagnostic, les matériaux susceptibles de contenir de l’amiante sont :</p>
              <ul>
                <li>Inspectés sur place</li>
                <li>Analysés en laboratoire si nécessaire</li>
              </ul>
              <p>Les résultats sont consignés dans un rapport détaillé, précisant :</p>
              <ul>
                <li>L’état de conservation des matériaux</li>
                <li>Les actions à entreprendre, telles que le confinement ou le retrait de l’amiante</li>
              </ul>
              <h2>Quand est-il nécessaire ?</h2>
              <p>Ce diagnostic est indispensable dans les cas suivants :</p>
              <ul>
                <li>Lors d’une vente ou d’une location d’un bien immobilier</li>
                <li>Avant des travaux ou une démolition</li>
              </ul>
              <p>
                Le diagnostic amiante contribue à assurer la sécurité des occupants et des intervenants tout en répondant aux exigences légales.
              </p>
        </div>
        <div class="column-2">
            <app-button-icon img="Amiante.svg"></app-button-icon>
        </div>
    </div>
</div>

<div class="container-mobile">
<div class="column-1">
  <h2>Déroulement du diagnostic</h2>
  <p>Lors du diagnostic, les matériaux susceptibles de contenir de l’amiante sont :</p>
  <ul>
      <li>Inspectés sur place</li>
      <li>Analysés en laboratoire si nécessaire</li>
  </ul>
  <p>Les résultats sont consignés dans un rapport détaillé, précisant :</p>
  <ul>
      <li>L’état de conservation des matériaux</li>
      <li>Les actions à entreprendre, telles que le confinement ou le retrait de l’amiante</li>
  </ul>
  <h2>Quand est-il nécessaire ?</h2>
  <p>Ce diagnostic est indispensable dans les cas suivants :</p>
  <ul>
      <li>Lors d’une vente ou d’une location d’un bien immobilier</li>
      <li>Avant des travaux ou une démolition</li>
  </ul>
  <p>
      Le diagnostic amiante contribue à assurer la sécurité des occupants et des intervenants tout en répondant aux exigences légales.
  </p>
</div>
<div class="column-2">
  <app-button-icon img="Amiante.svg"></app-button-icon>
</div>
</div>