<h1>Diagnostic Plomb : Ce qu'il faut savoir</h1>

<div class="container">
  <div class="table">

    <div class="column-1">
      <p>
        Le diagnostic plomb, ou Constat de Risque d'Exposition au Plomb (CREP),
        est obligatoire pour les biens construits avant le 1er janvier 1949.
        Réalisé par un diagnostiqueur certifié, il vise à détecter la présence
        de plomb dans les peintures, un matériau toxique pouvant entraîner des
        problèmes de santé graves, notamment :
      </p>
      <ul>
        <li>L’intoxication au plomb (saturnisme).</li>
        <li>Des troubles neurologiques et digestifs.</li>
        <li>Des risques pour le développement des enfants.</li>
      </ul>
      <h2>Déroulement du diagnostic :</h2>
      <p>Lors du contrôle, les peintures sont :</p>
      <ul>
        <li>Inspectées à l’aide d’un appareil à fluorescence X.</li>
        <li>Évaluées selon leur concentration en plomb et leur état de
          conservation.</li>
      </ul>
      <h2>Rapport détaillé :</h2>
      <p>Le rapport précise :</p>
      <ul>
        <li>La localisation des revêtements contenant du plomb.</li>
        <li>Les actions recommandées, comme des travaux ou un suivi
          régulier.</li>
      </ul>
      <h2>Quand est-il nécessaire ?</h2>
      <p>Le diagnostic plomb est obligatoire dans les cas suivants :</p>
      <ul>
        <li>Lors de la vente ou de la location d’un bien immobilier.</li>
        <li>Avant des travaux ou une démolition, pour prévenir les risques
          d’exposition.</li>
      </ul>
      <p>
        Le diagnostic plomb garantit la sécurité des occupants et des
        professionnels, tout en respectant les réglementations en vigueur.
      </p>
    </div>
    <div class="column-2">
      <app-button-icon img="Pb.svg"></app-button-icon>
    </div>
  </div>
</div>

<div class="container-mobile">
  <div class="column-1">
    <h2>Diagnostic Plomb</h2>
    <p>
      Le diagnostic plomb, également connu sous le nom de Constat de Risque
      d'Exposition au Plomb (CREP), est une obligation légale pour les biens
      immobiliers construits avant 1949. Il vise à identifier la présence de
      plomb dans les peintures afin de prévenir les risques d'intoxication,
      notamment chez les enfants et les femmes enceintes.
    </p>
    <h2>Déroulement du diagnostic :</h2>
    <p>Lors du diagnostic, le diagnostiqueur certifié :</p>
    <ul>
      <li>Inspecte les revêtements des murs, plafonds, fenêtres, portes,
        etc.</li>
      <li>Utilise un appareil à fluorescence X pour détecter la présence de
        plomb.</li>
      <li>Évalue l'état de conservation des peintures contenant du plomb.</li>
    </ul>
    <h2>Rapport détaillé :</h2>
    <p>Le rapport fournit :</p>
    <ul>
      <li>La concentration en plomb des revêtements analysés.</li>
      <li>Les zones à risque et les recommandations pour limiter
        l'exposition.</li>
    </ul>
    <h2>Quand est-il nécessaire ?</h2>
    <p>Le diagnostic plomb est obligatoire dans les cas suivants :</p>
    <ul>
      <li>Lors de la vente ou de la location d’un bien immobilier construit
        avant 1949.</li>
      <li>Avant des travaux ou une démolition, pour prévenir les risques
        d’exposition.</li>
    </ul>
    <p>
      Le diagnostic plomb garantit la sécurité des occupants et des
      professionnels, tout en respectant les réglementations en vigueur.
    </p>
  </div>
  <div class="column-2">
    <app-button-icon img="Pb.svg"></app-button-icon>
  </div>
</div>