
<div class="container">
    <h1>Le diagnostic électrique : assurer la sécurité de votre installation</h1>
    <div class="table">

        <div class="column-1">
            <p>
                Le diagnostic électrique est obligatoire pour tout bien immobilier dont l’installation intérieure d’électricité a plus de 15 ans. Il vise à identifier les éventuels risques liés à l’installation, afin d’assurer la sécurité des occupants.
              </p>
              <h2>Déroulement du diagnostic :</h2>
              <p>Un diagnostiqueur certifié procède à :</p>
              <ul>
                <li>L’inspection visuelle des installations (tableau électrique, prises, câblages, etc.).</li>
                <li>La vérification de la conformité aux normes en vigueur.</li>
              </ul>
              <h2>Rapport détaillé :</h2>
              <p>Le rapport mentionne :</p>
              <ul>
                <li>Les anomalies détectées et leur niveau de gravité.</li>
                <li>Les recommandations pour sécuriser l’installation.</li>
              </ul>
              <h2>Quand est-il nécessaire ?</h2>
              <p>Ce diagnostic est indispensable dans les cas suivants :</p>
              <ul>
                <li>Lors de la vente d’un bien immobilier.</li>
                <li>Facultatif mais fortement recommandé avant une location.</li>
              </ul>
              <p>
                Ce diagnostic contribue à prévenir les accidents domestiques tels que les incendies ou les électrocutions, tout en garantissant une transaction en toute transparence et sécurité.
              </p>
        </div>
        <div class="column-2">
            <app-button-icon img="electricity.svg"></app-button-icon>
        </div>
    </div>
</div>