.home-container {
  color: white;
  padding: 2rem;
  text-align: center;
  justify-items: center;
}

.header {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: rgba(0, 47, 109, 1);
  padding: 1.5rem;
  border-radius: 10px;
  margin-bottom: 2rem;
  width: 50%;
  z-index: -1;
}

.logo {
  position: relative;
  left: -40%;
}

.logo img {
  transition: all 0.3s ease-in-out;
}

.logo img:hover {
  transform: scale(1.02);
  filter: drop-shadow(0 0 5px rgba(255, 222, 89, 0.3));
}

.legend {
  z-index: 1;
  position: absolute;
  width: 100%;
}

.legend h1 {
  animation: slideIn 0.5s ease-in-out 0.1s;
}

.legend p {
  animation: slideIn 0.5s ease-in-out 0.2s;
}

.header p {
  font-size: 1rem;
  line-height: 1.5;
}

.header span {
  color: #ffde59;
}

.content {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 2%;
  padding-top: 5%;
}

.left-column {
  width: 100%;
  height: auto;
}

.hours-container { 
  width: 100%;
  height: auto;
  background-color: rgba(0, 47, 109, 1);
  padding: 1rem;
  border-radius: 10px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
}

.map-container {
  width: 100%;
  height: 300px;
  margin-top: 1rem;
  border-radius: 12px;
  z-index: 1;
}

.left-column h2 {
  font-size: 1.5rem;
  margin: 0.5rem 0;
  color: #ffde59;
  text-decoration: underline;
}

.left-column span {
  color: #ffde59;
}

.left-column p span {
  transition: all 0.3s ease-in-out;
}

.left-column p span:hover {
  color: #FFDE59;
  transform: scale(1.02);
}

.right-column {
  width: 100%;
  height: 10%;

  background-color: rgba(0, 47, 109, 1);
  padding: 1rem;
  border-radius: 10px;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.right-column h3 {
  color: #ffde59;
  text-decoration: underline;
}

.right-column:hover {
  transform: scale(1.05);
  border-radius: 10px 10px 0px 0px ;
  z-index: 20;
}

.warning {
  z-index: 21;
  display: none;
  width: 100%;
  position: absolute;
  top: 95%; 
  left: 0;
  padding: 15px;
  background-color: rgba(0, 47, 109, 1);
  color: white;
  border-radius: 0 0 10px 10px;
  text-align: start;
  line-height: 1.5em;

  opacity: 0;
  transition: opacity 0.3s ease; 
}

.warning p {
 font-size: small;
}

.footer-note a {
  text-decoration: none;
}

.footer-note a:link,
.footer-note a:visited {
  text-decoration: none;
  color: inherit;
}

.right-column:hover .warning {
  display: block;
  opacity: 1;
}

.middle-column {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 45em;
  transition: all 0.3s ease-in-out;
}

.icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgba(0, 47, 109, 1);
  transition: all 0.3s ease-in-out;
}

.icon:hover {
  transform: translateY(-2px);
}

.icon:hover p {
  color: #FFDE59;
  transform: scale(1.02);
}

.rounded {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0, 47, 109, 1);
  border-radius: 100%;
  width: 7em;
  height: 7em;
  padding: 2%;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

.rounded:hover {
  transform: scale(1.05);
  filter: drop-shadow(0 0 8px rgba(255, 222, 89, 0.3));
}

.icons-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2%;
}


.footer-note {
  margin-top: 2rem;
  font-size: 0.8rem;
  color: rgba(0, 47, 109, 1);
}

.footer-note p {
  transition: all 0.3s ease-in-out;
}

.footer-note p:hover {
  transform: scale(1.01);
  color: #FFDE59;
}

.footer-note img {
  width:
    20%;
  height: auto;
}

/* Styles pour les écrans */

@media (max-width: 1600px) {
  .hours-container {
    width: 100%;
    height: 300px;
  }

  .map-container {
display: none;
  }

  .header {
    flex-direction: row;
    width: 80%;
    height: 10em;
    padding: 0.5rem;
  }

  .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    justify-items: center;
    align-items: center;
  }

  .logo {
    display: none;
  }

  .right-column {
    order: 2;
    width: 80%;
    height: 40%;
    justify-content: center;
    align-items: center;
  }

  .left-column {
    order: 1;
    width: 80%;
    height: 100%;
  }

  .middle-column {
    order: 3;
    grid-column: span 2;
    width: 50%;
    margin: 0 auto;
  }

  .icons-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }

  .footer-note img {
    width: 30% !important;
  }
}

@media (max-width: 900px) {
  .header {
    flex-direction: row;
    width: 100%;
    height: 10em;
    padding: 0.5rem;
  }

  .legend p {
    font-size: 1rem;
    padding: 1.5em;
  }

  .logo {
    display: none;
  }

  .content {
    display: grid;
    grid-template-columns: 1fr;
  }

  .footer-note img {
    width: 30% !important;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .nav-menu a {
    margin: 5px 0;
  }

  .left-column {
    display: none;
  }

  .middle-column {
    order: 2;
    width: 100%;
  }

  .right-column {
    order: 1;
    width: 100%;
    height: 100%;
  }

  .icons-grid {
    grid-template-columns: repeat(3, 1fr) !important;
  }
}

@media (max-width: 500px) {
  .header {
    flex-direction: row;
    width: 100%;
    height: 10em;
    padding: 0.5em;
  }

  .legend p {
    font-size: 1rem;
    padding: 1.5em;
    padding-top: 0;
  }

  .logo {
    display: none;
  }

  .content {
    display: grid;
    grid-template-columns: 1fr;
  }

  .footer-note img {
    width: 50% !important;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .nav-menu a {
    margin: 5px 0;
  }

  .left-column {
    display: none;
  }

  .middle-column {
    order: 2;
    width: 100%;
  }

  .right-column {
    order: 1;
    width: 100%;
    height: 100%;
  }

  .icons-grid {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}

@media (max-width: 370px) {
  .legend p {
    font-size: 0.7rem;
    padding: 1em;
  }

  .logo {
    display: none;
  }

  .content {
    display: grid;
    grid-template-columns: 1fr;
  }

  .footer-note img {
    width: 50% !important;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .left-column {
    display: none;
  }

  .middle-column {
    order: 2;
    width: 100%;
  }

  .right-column {
    order: 1;
    width: 100%;
    height: 100%;
  }

  .icons-grid {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}



