<div class="home-container">
    <div class="content">

        <div class="left-column">
            <h2>HORAIRES</h2>
            <p>Disponible du <span>LUNDI</span> au <span>Vendredi</span> <br />(de 9h30 jusqu'à 17h30)</p>
            <p>et</p>
            <p><span>SAMEDI</span><br>(de 9h30 à 12h)</p>
          </div>
        <div class="middle-flex">
            <div class="middle-column">
                <div class="icons-grid">
                    <div class="icon-card">
                        <div class="icon-header">
                            <img src="technidiag83 White.svg" class="logo" />
                            <h1>TECHNIDIAG83</h1>
                            <div class="icon-content">
                                <p>
                                <strong>Adresse Postale : <br></strong>
                                3 Avenue Antoine Crousillat, 83210 Sollies-Pont</p>
                                <p>
                                <strong>Telephone :<br></strong>
                                06.38.01.25.11</p>
                                <p>
                                <strong>Email : <br></strong>
                                technidiag83&#64;free.fr</p>
                                <p>
                                <strong>Numéro de SIRET : <br></strong>
                                79107794400019</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="footer-note">
                <p>
                    Adhérent de la Chambre des Diagnostiqueurs Immobiliers de la FNAIM (CDI FNAIM)
                    <br> Nous nous
                    engageons à respecter les standards de qualité et d'éthique
                    professionnelle.
                  </p>
                  <img src="cdi_fnaim.jpg" alt>
            </div>
        </div>

        <div class="right-column">
            <h2 class="right-title">⚠️ À SAVOIR ⚠️</h2>
            <div class="warning">
              <div class="section">
                <h3>Concernant la location :</h3>
                <p>
                  En tant que <strong>propriétaire bailleur</strong>, il est essentiel de respecter vos obligations légales, notamment en mettant à disposition un logement décent et conforme aux normes en vigueur.
                  <br><br>
                  Un <strong>diagnostic immobilier complet</strong> garantit que votre bien respecte ces exigences et évite tout risque de litige.
                  <br><br>
                  Nos experts vous accompagnent dans la réalisation des <strong>diagnostics obligatoires</strong>, afin de sécuriser vos locations et préserver vos relations locatives dans le cadre de la <em>loi n° 89-462 du 6 juillet 1989</em>.
                </p>
              </div>
          
              <div class="section">
                <h3>Concernant la vente :</h3>
                <p>
                  En tant que <strong>propriétaire vendeur</strong>, vous avez l’obligation de fournir à l’acheteur des <strong>diagnostics immobiliers conformes et à jour</strong>, garantissant la transparence et la sécurité de la transaction.
                  <br><br>
                  Nos experts réalisent pour vous tous les diagnostics obligatoires (<abbr title="Diagnostic de Performance Énergétique">DPE</abbr>, amiante, plomb, etc.), afin de sécuriser votre vente et d’éviter tout litige futur.
                  <br><br>
                  Nous vous accompagnons dans le respect des réglementations en vigueur pour une transaction <strong>sereine</strong> et en toute <strong>conformité</strong>.
                </p>
              </div>
            </div>
          </div>
    </div>
</div>
