<h1>Le diagnostic ERP (État des Risques et de l'Exposition au Bruit) : informer sur les risques environnementaux</h1>

<div class="container">
    <div class="table">

        <div class="column-1">
            <p>
              Le diagnostic ERP est une obligation légale lors de la vente ou de la location d’un bien immobilier. Il informe les futurs occupants des risques naturels, miniers, technologiques et d'exposition au bruit auxquels le bien est exposé, en fonction de sa localisation.
              </p>
              <h2>Déroulement du diagnostic :</h2>
              <p>Le diagnostiqueur vérifie :</p>
              <ul>
                <li>Les zones à risques définies par les autorités publiques (inondations, mouvements de terrain, risques industriels, etc.).</li>
                <li>Les zones d’exposition au bruit (proximité d’aéroports, de voies ferrées, de zones industrielles, etc.).</li>
              </ul>
              <h2>Rapport détaillé :</h2>
              <p>Le rapport indique :</p>
              <ul>
                <li>Les risques auxquels le bien est exposé.</li>
                <li>Les mesures de prévention ou d'information à prendre en compte.</li>
              </ul>
              <h2>Quand est-il nécessaire ?</h2>
              <p>Ce diagnostic est indispensable dans les cas suivants :</p>
              <ul>
                <li>Lors de la vente ou de la location d’un bien immobilier.</li>
              </ul>
              <p>
                Le diagnostic ERNT garantit que les occupants sont informés des risques environnementaux, assurant ainsi une transaction transparente et conforme aux obligations légales.
              </p>
        </div>
        <div class="column-2">
            <app-button-icon img="ERNT.svg"></app-button-icon>
        </div>
    </div>
</div>

<div class="container-mobile">
  <div class="column-1">
    <p>
      Le diagnostic ERP est une obligation légale lors de la vente ou de la location d’un bien immobilier. Il informe les futurs occupants des risques naturels, miniers, technologiques et d'exposition au bruit auxquels le bien est exposé, en fonction de sa localisation.
    </p>
    <h2>Déroulement du diagnostic :</h2>
    <p>Le diagnostiqueur vérifie :</p>
    <ul>
      <li>Les zones à risques définies par les autorités publiques (inondations, mouvements de terrain, risques industriels, etc.).</li>
      <li>Les zones d’exposition au bruit (proximité d’aéroports, de voies ferrées, de zones industrielles, etc.).</li>
      <li>Les plans de prévention des risques naturels, miniers et technologiques (PPRN, PPRM, PPRT).</li>
    </ul>
    <h2>Rapport détaillé :</h2>
    <p>Le rapport indique :</p>
    <ul>
      <li>Les risques auxquels le bien est exposé.</li>
      <li>Les mesures de prévention ou d'information à prendre en compte.</li>
      <li>Les éventuelles obligations de travaux pour réduire les risques.</li>
    </ul>
    <h2>Quand est-il nécessaire ?</h2>
    <p>Ce diagnostic est indispensable dans les cas suivants :</p>
    <ul>
      <li>Lors de la vente ou de la location d’un bien immobilier.</li>
      <li>Lors de la construction d’un bien immobilier dans une zone à risques.</li>
    </ul>
    <p>
      Le diagnostic ERP contribue à la sécurité des occupants en les informant des risques environnementaux et en leur permettant de prendre les mesures nécessaires pour se protéger.
    </p>
  </div>
  <div class="column-2">
    <app-button-icon img="ERP.svg"></app-button-icon>
  </div>
</div>