<div class="home-container">

  <div class="header">

    <div class="logo">
      <img src="technidiag83 White.svg" />
    </div>

    <div class="legend">
      <h1>TECHNIDIAG83</h1>
      <p>Votre expert de proximité pour des diagnostics
        immobiliers<br /><span>FIABLES
          ET PERSONNALISÉS</span></p>
    </div>
  </div>

  <div class="content">

    <div class="left-column">
      <h2>HORAIRES</h2>
      <p>Disponible du <span>LUNDI</span> au <span>Vendredi</span> <br />(de 9h00 jusqu'à 17h30)</p>
      <p>et</p>
      <p><span>SAMEDI</span><br>(de 9h00 à 12h00)</p>
    </div>

    <div class="middle-column">
      <div class="icons-grid">

        <div class="icon">
          <div class="rounded">
            <app-button-icon img="M².svg"
              routerLink="/loiCarrezOuBouttin"></app-button-icon>
          </div>
          <p>Loi Carrez ou Boutin</p>
        </div>

        <div class="icon">
          <div class="rounded">
            <app-button-icon img="Amiante.svg"
              routerLink="/amiante"></app-button-icon>
          </div>
          <p>Amiante</p>
        </div>

        <div class="icon">
          <div class="rounded">
            <app-button-icon img="Energy class.svg"
              routerLink="/dpe"></app-button-icon>
          </div>
          <p>DPE</p>
        </div>

        <div class="icon">
          <div class="rounded">
            <app-button-icon img="electricity.svg"
              routerLink="/electricite"></app-button-icon>
          </div>
          <p>Electricté</p>
        </div>

        <div class="icon">

          <div class="rounded">
            <app-button-icon img="Termite.svg"
              routerLink="/termite"></app-button-icon>
          </div>
          <p>Termites</p>
        </div>

        <div class="icon">
          <div class="rounded">
            <app-button-icon img="Pb.svg" routerLink="/plomb"></app-button-icon>
          </div>
          <p>Plomb</p>
        </div>

        <div class="icon">
          <div class="rounded">
            <app-button-icon img="Gaz.svg" routerLink="/gaz"></app-button-icon>
          </div>
          <p>Gaz</p>
        </div>
        <div class="icon">
          <div class="rounded">
            <app-button-icon img="ERP.svg"
              routerLink="/erp"></app-button-icon>
          </div>
          <p>ERP</p>
        </div>
      </div>

      <div class="footer-note">
        <p>
          Adhérent de la Chambre des Diagnostiqueurs Immobiliers de la FNAIM
          (CDI FNAIM)
          <br> Nous nous
          engageons à respecter les standards de qualité et d'éthique
          professionnelle.
        </p>
        <img src="cdi_fnaim.jpg" alt>
      </div>

    </div>

    <div class="right-column">
      <h2>⚠️ Important a Savoir ⚠️</h2>
      <div class="warning">
        <h3>Concernant la location :</h3>
        <p>
          En tant que propriétaire bailleur, il est essentiel de respecter vos
          obligations légales, notamment en mettant à disposition un logement
          décent et conforme aux normes en vigueur. Un diagnostic immobilier
          complet garantit que votre bien respecte ces exigences et évite tout
          risque de litige. Nos experts vous accompagnent dans la réalisation
          des diagnostics obligatoires, afin de sécuriser vos locations et
          préserver vos relations locatives dans le cadre de la loi n° 89-462 du
          6 juillet 1989.
        </p>
        <h3>Concernant la vente :</h3>
        <p>
          En tant que propriétaire vendeur, vous avez l’obligation de fournir à
          l’acheteur des diagnostics immobiliers conformes et à jour,
          garantissant la transparence et la sécurité de la transaction. Nos
          experts réalisent pour vous tous les diagnostics obligatoires (DPE,
          amiante, plomb, etc.), afin de sécuriser votre vente et d’éviter tout
          litige futur. Nous vous accompagnons dans le respect des
          réglementations en vigueur pour une transaction sereine et en toute
          conformité.</p>
      </div>
    </div>
  </div>
</div>
