<h1>Le diagnostic gaz : assurer la sécurité de votre installation</h1>

<div class="container">
  <div class="table">

    <div class="column-1">
      <p>
        Le diagnostic gaz est obligatoire pour toute installation de gaz de plus
        de 15 ans. Il a pour but de vérifier la conformité et la sécurité de
        l’installation afin de prévenir les risques d’accidents tels que les
        fuites de gaz, les intoxications ou les incendies.
      </p>
      <h2>Déroulement du diagnostic :</h2>
      <p>Un diagnostiqueur certifié procède à :</p>
      <ul>
        <li>L’inspection des installations de gaz (chauffe-eau, chaudières,
          tuyauteries, etc.).</li>
        <li>La vérification des équipements et des raccordements pour s’assurer
          de leur conformité avec les normes de sécurité.</li>
      </ul>
      <h2>Rapport détaillé :</h2>
      <p>Le rapport indique :</p>
      <ul>
        <li>Les anomalies détectées et leur niveau de risque.</li>
        <li>Les actions nécessaires pour garantir la sécurité de
          l’installation.</li>
      </ul>
      <h2>Quand est-il nécessaire ?</h2>
      <p>Ce diagnostic est indispensable dans les cas suivants :</p>
      <ul>
        <li>Lors de la vente d’un bien immobilier avec une installation de
          gaz.</li>
        <li>Facultatif mais recommandé avant la location d’un bien avec
          installation de gaz.</li>
      </ul>
      <p>
        Ce diagnostic est essentiel pour assurer la sécurité des occupants et
        répondre aux exigences légales, tout en garantissant une transaction en
        toute sérénité.
      </p>
    </div>
    <div class="column-2">
      <app-button-icon img="Gaz.svg"></app-button-icon>
    </div>
  </div>
</div>

<div class="container-mobile">
  <div class="column-1">
    <p>
      Le diagnostic gaz est obligatoire pour toute installation de gaz de plus
      de 15 ans. Il a pour but de vérifier la conformité et la sécurité de
      l’installation afin de prévenir les risques d’accidents tels que les
      fuites de gaz, les intoxications ou les incendies.
    </p>
    <h2>Déroulement du diagnostic :</h2>
    <p>Un diagnostiqueur certifié procède à :</p>
    <ul>
      <li>L’inspection des installations de gaz (chauffe-eau, chaudières,
        tuyauteries, etc.).</li>
      <li>La vérification des équipements et des raccordements pour s’assurer de
        leur conformité avec les normes de sécurité.</li>
      <li>Le contrôle de l’aération des locaux et de l’évacuation des produits
        de combustion.</li>
    </ul>
    <h2>Rapport détaillé :</h2>
    <p>Le rapport indique :</p>
    <ul>
      <li>Les anomalies détectées et leur niveau de risque.</li>
      <li>Les actions nécessaires pour garantir la sécurité de
        l’installation.</li>
      <li>Des recommandations pour améliorer la sécurité et la conformité de
        l’installation.</li>
    </ul>
    <h2>Quand est-il nécessaire ?</h2>
    <p>Ce diagnostic est indispensable dans les cas suivants :</p>
    <ul>
      <li>Lors de la vente d’un bien immobilier avec une installation de gaz de
        plus de 15 ans.</li>
      <li>Avant des travaux importants ou une rénovation de l’installation de
        gaz.</li>
    </ul>
    <p>
      Le diagnostic gaz contribue à assurer la sécurité des occupants et à
      prévenir les risques d’accidents liés au gaz, tout en respectant les
      réglementations en vigueur.
    </p>
  </div>
  <div class="column-2">
    <app-button-icon img="Gaz.svg"></app-button-icon>
  </div>
</div>