<h1>Le diagnostic termites : préserver la solidité de votre bien</h1>

<div class="container">
    <div class="table">

        <div class="column-1">
            <p>
                Le diagnostic termites est une obligation légale dans les zones déclarées à risque par arrêté préfectoral. Il vise à détecter la présence de termites ou d’autres insectes xylophages pouvant fragiliser la structure du bâtiment.
              </p>
              <h2>Déroulement du diagnostic :</h2>
              <p>Un diagnostiqueur certifié effectue :</p>
              <ul>
                <li>Une inspection visuelle des éléments en bois (charpente, planchers, poutres, etc.).</li>
                <li>Des sondages non destructifs pour détecter d’éventuelles infestations.</li>
              </ul>
              <h2>Rapport détaillé :</h2>
              <p>Le rapport précise :</p>
              <ul>
                <li>La présence ou l’absence de termites.</li>
                <li>Les zones infestées, si applicable, et les mesures à prendre.</li>
              </ul>
              <h2>Quand est-il nécessaire ?</h2>
              <p>Ce diagnostic est indispensable dans les cas suivants :</p>
              <ul>
                <li>Lors de la vente d’un bien immobilier situé en zone à risque.</li>
              </ul>
              <p>
                Ce diagnostic garantit la sécurité des futurs occupants, préserve la solidité du bien et répond aux exigences légales en matière de transparence lors des transactions immobilières.
              </p>
        </div>
        <div class="column-2">
            <app-button-icon img="Termite.svg"></app-button-icon>
        </div>
    </div>
</div>

<div class="container-mobile">
  <div class="column-1">
    <p>
      Le diagnostic termites est une obligation légale dans les zones déclarées à risque par arrêté préfectoral. Il vise à détecter la présence de termites ou d’autres insectes xylophages pouvant fragiliser la structure du bâtiment.
    </p>
    <h2>Déroulement du diagnostic :</h2>
    <p>Un diagnostiqueur certifié effectue :</p>
    <ul>
      <li>Une inspection visuelle des éléments en bois (charpente, planchers, poutres, etc.).</li>
      <li>Des sondages non destructifs pour détecter d’éventuelles infestations.</li>
      <li>La vérification des indices de présence de termites (galeries, excréments, etc.).</li>
    </ul>
    <h2>Rapport détaillé :</h2>
    <p>Le rapport précise :</p>
    <ul>
      <li>La présence ou l’absence de termites.</li>
      <li>Les zones infestées, si applicable, et les mesures à prendre.</li>
      <li>Les recommandations pour traiter et prévenir les infestations.</li>
    </ul>
    <h2>Quand est-il nécessaire ?</h2>
    <p>Ce diagnostic est indispensable dans les cas suivants :</p>
    <ul>
      <li>Lors de la vente d’un bien immobilier situé en zone à risque.</li>
      <li>Avant des travaux importants ou une rénovation dans une zone à risque.</li>
    </ul>
    <p>
      Le diagnostic termites contribue à préserver la solidité et la sécurité de votre bien en détectant et en traitant les infestations de termites et autres insectes xylophages.
    </p>
  </div>
  <div class="column-2">
    <app-button-icon img="Termite.svg"></app-button-icon>
  </div>
</div>